################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TypeSys/bin/Debug/net8.0
/TypeSys/obj
/BizShared/obj
/BlazorWebAssembly/bin/Debug/net8.0
/BlazorWebAssembly/obj
/BizShared/bin/Debug/net8.0
/BlazorLogics/bin/Debug/net8.0
/BlazorLogics/obj
/AioServer/bin/Debug/net8.0
/AioServer/obj
/WebLogics/bin/Debug/net8.0
/WebLogics/obj
/BlazorWebAssembly/bin/Release/net8.0
/BizShared/bin/Release/net8.0
/WebDeploy
/WebLogics/bin/Release/net8.0
/BlazorWebAssembly/Properties/PublishProfiles/IISProfile.pubxml.user
/Shared/bin/Debug/net8.0
/Shared/obj
/BizLogics/bin/Debug/net8.0
/BizLogics/obj/Debug/net8.0
/BizLogics/obj
/Server/bin/Debug/net8.0
/Server/obj
/portal/node_modules
/portal/src/.vs
/JCS.BizLogics/bin/Debug/net8.0/JCS.BizLogics.dll
/JCS.BizLogics/bin/Debug/net8.0/JCS.BizLogics.exe
/JCS.BizLogics/bin/Debug/net8.0/JCS.BizLogics.pdb
/JCS.BizLogics/bin/Debug/net8.0/JCS.Shared.dll
/JCS.BizLogics/bin/Debug/net8.0/JCS.Shared.pdb
/JCS.BizLogics/bin/Debug/net8.0/UtilWebServer.dll
/JCS.BizLogics/bin/Debug/net8.0/UtilWebServer.pdb
/JCS.BizLogics/obj/Debug/net8.0/apphost.exe
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.AssemblyInfo.fs
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.AssemblyInfoInputs.cache
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.dll
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.fsproj.AssemblyReference.cache
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.pdb
/JCS.BizLogics/obj/Debug/net8.0/JCS.BizLogics.sourcelink.json
/JCS.BizLogics/obj/Debug/net8.0/refint/JCS.BizLogics.dll
/JCS.Shared/obj/Debug/net8.0/JCS.Shared.AssemblyInfo.fs
/JCS.Shared/obj/Debug/net8.0/JCS.Shared.AssemblyInfoInputs.cache
/JCS.Shared/obj/Debug/net8.0/JCS.Shared.dll
/JCS.Shared/obj/Debug/net8.0/JCS.Shared.pdb
/JCS.Shared/obj/Debug/net8.0/JCS.Shared.sourcelink.json
/JCS.Shared/bin/Debug/net8.0/JCS.Shared.dll
/JCS.Shared/bin/Debug/net8.0/JCS.Shared.pdb
/JCS.Shared/obj/Debug/net8.0/refint/JCS.Shared.dll
