@using WebLogics;

<style>

</style>

<div style="background-color: @this.ball.color">
    <input type="text" @bind="this.ball.name" />
    <button onclick="Faster">Faster</button>
    <button onclick="Slower">Slower</button>
    <button onclick="Enlarge">Enlarge</button>
    <button onclick="Shrink">Shrink</button>
</div>

@code {
    [Parameter]
    public Game.Ball ball { get; init; } = new(
            "White",
            "",
            5.0,
            false,
            0.0,
            0.0,
            0.0,
            0.0);
    // public Game.Ball? Ball { get; init; }

    [Parameter]
    public double r { get; set; } = 0.0;

    public void Faster()
    {
        this.ball.vx *= 2.0;
        this.ball.vy *= 2.0;
    }

    public void Slower()
    {
        this.ball.vx /= 2.0;
        this.ball.vy /= 2.0;
    }

    public void Enlarge()
    {
        this.r *= 2.0;
    }

    public void SHrink()
    {
        this.ball.r /= 2.0;
    }

}
