@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D

@using BizShared;

@using WebLogics；

@using BlazorWebAssembly.Components;

@inject IJSRuntime JsRuntime;

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    canvas {
        /* width: 100%;
                height: 100%;*/
        background-color: magenta
    }

</style>

<script>
    function renderJS(timeStamp) {
        theInstance.invokeMethodAsync('RenderInBlazor', timeStamp);
        window.requestAnimationFrame(renderJS);
    }

    function resizeCanvasToFitWindow() {
        var holder = document.getElementById('canvasHolder');
        var canvas = holder.querySelector('canvas');
        if (canvas) {
            //canvas.width = window.innerWidth;
            //canvas.height = window.innerHeight;
            theInstance.invokeMethodAsync('ResizeInBlazor', canvas.width, canvas.height);
        }
    }

    window.initRenderJS = (instance) => {
        window.theInstance = instance;
        window.addEventListener("resize", resizeCanvasToFitWindow);
        resizeCanvasToFitWindow();
        window.requestAnimationFrame(renderJS);
    };

</script>

<div id="canvasHolder"
     @onmousemove="MouseMove"
     onmouseup="MouseLeave"
     class="canvas">
    <BECanvas Width="1500" Height="600" @ref="CanvasRef"></BECanvas>
</div>


<style>

.moveButton{
        float: left;
        width: 100px;
        margin: 15px;
}

    .moveButton:hover {
        cursor:pointer;
    }

</style>

<div class="w3-container">
    <button @onclick="@(e => Move(e,-100.0))"
         class="moveButton w3-green w3-hover-shadow w3-padding-64 w3-center">
        LEFT
    </button>
    <button @onclick="@(e => Move(e,+100.0))"
            class="moveButton w3-green w3-hover-shadow w3-padding-64 w3-center">
        RIGHT
    </button>
</div>


<div>

    @foreach (var key in this.field.balls.Keys)
    {
        var ball = this.field.balls[key];
        <BallView 
            r="@ball.r"
            Ball="@ball"></BallView>
    }
</div>

