@page "/contact"


<PageTitle>Contact</PageTitle>

<h1>Contact</h1>

<BlazorWebAssembly.Components.ContactForm ReadMe="@(DateTime.UtcNow.ToString())" />


<div>
    <a href="https://www.linkedin.com/in/lchenmay" target="_blank">
        <img width="100" src="https://cdn.uconnectlabs.com/wp-content/uploads/sites/46/2022/08/Linkedin-Logo-e1660320077673.png" />
    </a>
</div>
